#app #timeline {
  font: normal 16px/1.5 "Open Sans", sans-serif;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
  margin-top: 0;

  a {
    color: #fff;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
  a:hover {
    text-decoration-style: solid;
  }
  /* Couleur des Framatitre */
  .violet, .frama  { color: #6A5687; }
  .orange, .soft   { color: #EB7239; }
  .bleu, .logiciel { color: #0C5B7A; }
  .rouge, .culture { color: #CC2D18; }
  .vert, .services { color: #8E9C48; }
  .jaune, .vrac  { color: #C48A1B; }
  /* Classes pour utiliser la couleur de titre en arrière plan */
  .fond-frama  { background-color: #6A5687 !important; }
  .fond-soft   { background-color: #EB7239 !important; }
  .fond-logiciel { background-color: #0C5B7A !important; }
  .fond-culture  { background-color: #CC2D18 !important; }
  .fond-services { background-color: #8E9C48 !important; }
  .fond-vrac   { background-color: #C48A1B !important; }
  /* INTRO SECTION
      –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .intro {
    padding: 42px 0 50px 0;
    color: #616161;
    background-color: #fff;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .container hr {
    margin-top: 50px;
    background-color: #EEE;
    height: 11px;
    border: medium none;
  }

  .container h1 {
    font-size: 2.5rem;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  .box, .text {
    vertical-align: middle;
    display: table-cell;
  }

  /* TIMELINE
     –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline ul {
    background: #fff;
    padding: 0 0;
  }

  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #616161;
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #E86361;
  }

  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }

  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #E86361 transparent transparent;
  }

  .timeline ul li:nth-child(odd) div.fond-frama::before { border-color: transparent #6A5687 transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-soft::before { border-color: transparent #EB7239 transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-logiciel::before { border-color: transparent #0C5B7A transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-culture::before { border-color: transparent #CC2D18 transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-services::before { border-color: transparent #8E9C48 transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-vrac::before { border-color: transparent #C48A1B transparent transparent; }
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }

  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #E86361;
  }
  .timeline ul li:nth-child(even) div.fond-frama::before { border-color: transparent transparent transparent #6A5687; }
  .timeline ul li:nth-child(even) div.fond-soft::before { border-color: transparent transparent transparent #EB7239; }
  .timeline ul li:nth-child(even) div.fond-logiciel::before { border-color: transparent transparent transparent #0C5B7A; }
  .timeline ul li:nth-child(even) div.fond-culture::before { border-color: transparent transparent transparent #CC2D18; }
  .timeline ul li:nth-child(even) div.fond-services::before { border-color: transparent transparent transparent #8E9C48; }
  .timeline ul li:nth-child(even) div.fond-vrac::before { border-color: transparent transparent transparent #C48A1B; }

  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }


  /* EFFECTS
     –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline ul li::after {
    transition: background .5s ease-in-out;
  }

  .timeline ul li.in-view::after {
    background: #E86361;
  }
  .timeline ul li.in-view.li-frama::after  { background: #6A5687; }
  .timeline ul li.in-view.li-soft::after   { background: #EB7239; }
  .timeline ul li.in-view.li-logiciel::after { background: #0C5B7A; }
  .timeline ul li.in-view.li-culture::after  { background: #CC2D18; }
  .timeline ul li.in-view.li-services::after { background: #8E9C48; }
  .timeline ul li.in-view.li-vrac::after   { background: #C48A1B; }

  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }

  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }

  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }


  /* GENERAL MEDIA QUERIES
     –––––––––––––––––––––––––––––––––––––––––––––––––– */

  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }

  @media screen and (max-width: 600px) {
    .box, .text {
      display: block;
    }
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #E86361 transparent transparent;
    }
  }
}
